﻿@model MoneyTransfer.Models.User

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>PersonalCabinet</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonalAccount)
        </dt>
        <dd>
            @Model.PersonalAccount
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ballance)
        </dt>
        <dd>
            @Model.Ballance
        </dd>   
    </dl>
</div>
<p>
    <a asp-area="" asp-controller="Transaction" asp-action="Create">GetTransaction</a>
</p>
